#quiz1 {
	display: none;
}

#result1 {
	display: none;
}

#quiz2 {
	display: none;
}

#result2 {
	display: none;
}

#quiz3 {
	display: none;
}

#result3 {
	display: none;
}

#next1 {
	display: none;
}

#next2 {
	display: none;
}

#next3 {
	display: none;
}

#finalResult {
	display: none;
}